body {
  background: #262626;
}
h1 {
  font-weight: bold;
  color: #cdabf7
}
p {
  color: white;
  font: cursive;
}
h2 {
  font: cursive;
  font-weight: bold;
  color: #ffffff;
}
.story-title {
  border: solid 50px;
  border-color: #ffffdd;
  border-radius: 20px;
  color: #ffffff;
  font-family: sans-serif;
  background-color: #000000;
}
.story {
  border: solid 50px;
  border-color: #ffffdd;
  border-radius: 20px;
  color: #ffffff;
  font-family: cursive;
  background-color: #000000;
}
.formular {
  color: #ffffff;
  font-family: cursive;
  border-radius: 10px;
  border: solid 5px;
  border-color: #ffffff;
  background-color: #000000;
}
.credit {
  color: #ff0000;
  font-family: cursive;
  text-size-adjust:30px;
}
a {
  color: #b8feff;
  text-decoration: none;
}
